{% extends 'ImageAnnotatorBundle:Base:base.html.twig' %}

{% trans_default_domain 'ImageAnnotatorBundle' %}

{% block title %}{{ 'imageGateway.title'|trans }}{% endblock title %}

{% block header %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            require(['main'], function() {
                var myImages = new $ia.Controller.Images();
                //FIXME context
                context = myImages;

                myImages.bindUIEvents($ia.Controller.Images.Page.INDEX);
            });
        });
    </script>
{% endblock header %}

{% block nav_ul_authenticated_my_files %}class="active"{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                {% include 'ImageAnnotatorBundle:Media:chooserForm.html.twig' with {'isFileSelection': false} %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div id="preview"></div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover ia-myFiles-table">
                        <thead>{{ 'imageGateway.title'|trans }}
                            <th><i class="fa fa-wrench"></i> Tools</th>
                            <th>Name</th>
                            <th>Created</th>
                            <th>Number of Annotations</th>
                        </thead>
                        <tbody>
                            {% if resourceFiles|length > 0 %}
                                {% for resourceFile in resourceFiles %}
                                    <tr>
                                        <!-- tools -->
                                        <td>
                                            <div class="text-center">
                                                <a class="btn btn-danger btn-xs delete-button"
                                                   href="#"
                                                   data-val="{{ resourceFile.id }}">
                                                    <i class="fa fa-trash-o"></i> {{ 'filesGateway.deleteLink'|trans }}
                                                </a>
                                                <a class="btn btn-default btn-xs preview-button{% if resourceFile.getIsReady == constant('IMDC\\TerpTubeBundle\\Entity\\Media::READY_NO') %} disabled{% endif %}"
                                                   href="#"
                                                   data-type="{{ resourceFile.type }}"
                                                   data-url="{{ path('image_annotator_images_preview', {'mediaId': resourceFile.id}) }}"
                                                   data-val="{{ resourceFile.id }}">
                                                    <i class="fa fa-play-circle"></i> {{ 'filesGateway.previewLink'|trans }}
                                                </a>
                                            </div>
                                        </td>
                                        <!-- name -->
                                        <td>{{ resourceFile.title }}</td>
                                        <!-- created -->
                                        <td>{{ resourceFile.getMetaData.getTimeUploaded|date('g:ia M j') }}</td>
                                        <!-- size -->
                                        <td>
                                            {% if resourceFile.getMetaData.getSize == -1 %}
                                                <i class="fa fa-spinner fa-spin fa-large"></i>
                                            {% else %}
                                                {{ '%.2f'|format(resourceFile.getMetaData.getSize / 1024 / 1024) }} MB
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr colspan="5">
                                    <div class="text-center"><div class="text-center">{{ 'imageGateway.empty'|trans }}</div></div>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                {{ knp_pagination_render(resourceFiles) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <hr class="ia-separator-bottom" />
            </div>
        </div>
    </div>
{% endblock content %}

{% block outside_body %}
    {{ parent() }}

    <script type="text/html" id="mediaRow">
        <tr>
            <td>
 				<div class="text-center">
                	<a class="btn btn-danger btn-xs delete-button" href="#" data-val="{media.id}">
                	    <i class="fa fa-trash-o"></i> {{ 'filesGateway.deleteLink'|trans }}
                	</a>
                	<a class="btn btn-default btn-xs preview-button{{ '{#previewDisabled} disabled{/previewDisabled}' }}" href="#" data-type="{media.type}" data-url="{previewUrl}" data-val="{media.id}">
                	    <i class="fa fa-play-circle"></i> {{ 'filesGateway.previewLink'|trans }}
                	</a>
                	<a class="btn btn-default btn-xs share-button" href="{newThreadUrl}" data-type="{media.type}" data-val="{media.id}">
                	    <i class="fa fa-share-square-o"></i> {{ 'filesGateway.shareLink'|trans }}
                	</a>
                	{{ '{#canInterpret}' }}
                	    <!-- TODO interpretations disabled for now
                	    <a class="btn btn-default btn-xs interpret-button" href="{simulRecordUrl}">
                	        <i class="fa fa-film"></i> Create Interpretation
                	    </a>-->
                	{/canInterpret}
				</div>
            </td>
            <td>{media.title}</td>
            <td><i class="fa {icon}"></i> {mediaType}</td>
            <td>{dateString}</td>
            <td>
                {{ '{#mediaSize}' }}
                    {mediaSize} MB
                {:else}
                    <i class="fa fa-spinner fa-spin fa-large"></i>
                {/mediaSize}
            </td>
        </tr>
    </script>

    <script type="text/html" id="mediaDeleteConfirmMessage">
        {{ 'filesGateway.deleteConfirmMessage'|trans }}
    </script>

    {% include 'ImageAnnotatorBundle:Media:uploadForms.html.twig' %}
{% endblock outside_body %}
