{% trans_default_domain 'ImageAnnotatorBundle' %}

		<div class="table-responsive">
			<table
				class="table table-bordered table-hover ia-annotation-types-table">
				<thead>
					<th><i class="fa fa-wrench"></i> 
					</a></th>
					<th>{{ 'annotationType.types'|trans }}</th>
				</thead>
				<tbody>
					<tr>
						<td>
							<a
						class="btn btn-danger btn-xs" href="#"
						data-val="{{ dataset.id }}" title="{{
							'annotationType.add'|trans }}"> <i class="fa fa-plus"></i> 
						</td>
						<td>
							{{
							'annotationType.add'|trans }}
						</td>
					</tr>
					{% if dataset.annotationTypes|length > 0 %} 
					{% for annotationType in dataset.annotationTypes %}
					<tr>
						<!-- tools -->
						<td>
							<div class="text-center">
								<a class="btn btn-danger btn-xs delete-button" href="#"
									data-val="{{ resourceFile.id }}"> <i class="fa fa-trash-o"></i>
									{{ 'imageGateway.deleteLink'|trans }}
								</a>
							</div>
						</td>
						<!-- name -->
						<td>{{ annotationType.name }}</td>
					</tr>
					{% endfor %} 
					{% endif %}
				</tbody>
			</table>
	</div>

