{% trans_default_domain 'ImageAnnotatorBundle' %}
		<div id="annotation-type-chooser"></div>
		<div class="table-responsive">
			<table
				class="table table-bordered table-hover ia-annotation-types-table">
				<thead>
					<th><i class="fa fa-wrench"></i> 
					</a></th>
					<th>{{ 'annotationType.types'|trans }}</th>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="text-center">
								<a
							class="btn btn-success btn-xs" id="annotation-type-add" href="#"
							data-val="{{ dataset.id }}" title="{{
								'annotationType.addLabel'|trans }}"> <i class="fa fa-plus"></i> {{
								'annotationType.add'|trans }}
								</a>
							</div>
						</td>
						<td>
							{{
							'annotationType.addLabel'|trans }}
						</td>
					</tr>
					{% if dataset.annotationTypes|length > 0 %} 
					{% for annotationType in dataset.annotationTypes %}
					<tr>
						<!-- tools -->
						<td>
							<div class="text-center">
								<a class="btn btn-danger btn-xs annotation-type-delete" href="#"
									data-val="{{ annotationType.id }}"> <i class="fa fa-trash-o"></i>
									{{ 'annotationType.delete'|trans }}
								</a>
							</div>
						</td>
						<!-- name -->
						<td>{{ annotationType.name }}</td>
					</tr>
					{% endfor %} 
					{% endif %}
				</tbody>
			</table>
		</div>

