{#
included by:
_Forum:edit.html.twig
_Forum:new.html.twig
_Group:edit.html.twig
_Group:new.html.twig
_MyFiles:index.html.twig
_Post:ajax.edit.html.twig
_Post:ajax.reply.html.twig
_Thread:new.html.twig
_Thread:view.html.twig
#}

{% trans_default_domain 'ImageAnnotatorBundle' %}

{% if isFileSelection is not defined %}
	{% set isFileSelection = true %}
{% endif %}

{% if isPost is not defined %}
	{% set isPost = false %}
{% endif %}

<div class="row" id="chooseFile">
	<div class="col-md-12">
		<div class="form-group">
			<a class="btn btn-primary" id="upload-image-link" href="#"><i class="fa fa-upload"></i> {{ 'imageGateway.buttons.upload'|trans }}</a>
			<a class="btn btn-primary" id="search-images-google-link" href="#"><i class="fa fa-google"></i> {{ 'imageGateway.buttons.google'|trans }}</a>
			<a class="btn btn-primary" id="search-images-flickr-link" href="#"><i class="fa fa-flickr"></i> {{ 'imageGateway.buttons.flickr'|trans }}</a>
			{% if isFileSelection %}
				<a class="btn btn-primary" id="selectFile" href="#"><i class="fa fa-folder-open"></i> {{ 'imageGateway.add.title'|trans }}</a>
			{% endif %}
		</div>
	</div>
</div>
<div class="row" id="uploadProgress" style="display: none;">
    <div class="col-md-12">
        <div class="form-group">
            <label>Uploading: <span id="uploadingFileTitle"></span></label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    0%
                </div>
            </div>
        </div>
    </div>
</div>
{% if isFileSelection %}
	<div class="row" id="selectedFile" style="display: none;">
		<div class="col-md-12">
			<div class="hidden">
					{{ form_widget(form.mediatextarea, {'attr': {'placeholder': 'File ID'} }) }}
			</div>
			{{ form_errors(form.mediatextarea) }}
			<div class="form-group">
				<label>Selected File</label>
				<div><span id="selectedFileTitle" style="margin-right: 5px;"></span><a id="removeFile" title="Remove File"><i class="fa fa-times-circle"></i></a></div>
			</div>
		</div>
	</div>
	<div id="files"></div>
{% endif %}
