{% extends 'ImageAnnotatorBundle:Base:base.html.twig' %}

{% trans_default_domain 'ImageAnnotatorBundle' %}

{% block title %}{{ profile.firstName }}'s Profile{% endblock title %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <p class="lead">{{ profile.firstName }} {{ profile.lastName }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <div class="row">
                    <div class="col-md-8">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th>{{ 'profile.show.userName' |trans }}</th>
                                        <td>{{ user.username }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'profile.show.institution' |trans }}</th>
                                        <td>{{ profile.institution }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'profile.show.city' |trans }}</th>
                                        <td>{{ profile.city }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'profile.show.country' |trans }}</th>
                                        <td>{{ profile.country }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if app.user == user.userName %}
                            <a class="btn btn-default" href="{{ path('image_annotator_profile_edit', {'userName': app.user}) }}">{{ 'profile.show.edit' |trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
