{% extends 'ImageAnnotatorBundle:Base:base.html.twig' %}

{% trans_default_domain 'ImageAnnotatorBundle' %}

{% block title %}Create Dataset{% endblock title %}

{% block content %}
    <div class="col-md-12">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
       			{{ form_widget(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'datasetGateway.create.submit'|trans }}</button>
                <a class="btn btn-danger" href="{{ path('image_annotator_dataset_gateway') }}"><i class="fa fa-times"></i> {{ 'form.generic.cancel'|trans }}</a>
            </div>
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock content %}
