{% trans_default_domain 'ImageAnnotatorBundle' %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} | ImageAnnotator</title>

        <!--  Bootstrap has to come before font awesome for everything to work right -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />

        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.js') }}"></script>

        {# <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}"> #}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sonatajquery/themes/flick/jquery-ui-1.10.4.custom.css') }}">

        <!-- jQuery autosize textboxes script -->
        <script src="{{ asset('bundles/martingerdzhevimageannotator/js/autosize/jquery.autosize.min.js') }}"></script>

   <!--      <script src="{{ asset('js/tag-it.min.js') }}"></script> -->
  <!--  <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.tagit.css') }}"> -->


        <!--  FOS js routing script -->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <!-- raphael javascript svg library -->
		<script type="text/javascript" src="{{ asset('bundles/bmatznerraphael/js/raphael.min.js') }}"></script>
		
		{{ require_js_initialize({'main' : 'main'}) }}

        {% block header %}
         <link rel="stylesheet" type="text/css" href="{{ asset('bundles/martingerdzhevimageannotator/_css/image_annotator.css') }}">
        {% endblock header %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="navbar navbar-inverse navbar-fixed-top ia-navbar-top">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-111" style="padding-left: 0;">
                                <div class="collapse navbar-collapse" id="ia-navbar-collapse-1">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <ul class="nav navbar-nav ia-navbar-nav-top">
                                        	<li>
                                        		<a class="navbar-link" data-placement="bottom" title="{{ 'nav.home' |trans }}" href="{{ path('image_annotator_homepage') }}"><i class="fa fa-home fa-2x"></i></a>
                                        	</li>
                                            <li {% block nav_ul_authenticated_my_annotations %}{% endblock %}>
                                                <a class="navbar-link" data-placement="bottom" title="{{ 'nav.my_annotations_list' |trans }}" href="{{ path('image_annotator_annotations_list') }}"><i class="fa fa-folder-open fa-2x"></i></a>
                                            </li>
                                            <li {% block nav_ul_authenticated_my_annotations_create %}{% endblock %}>
                                                <a class="navbar-link" data-placement="bottom" title="{{ 'nav.my_annotations_create' |trans }}"href="{{ path('image_annotator_annotations_create') }}"><i class="fa fa-edit fa-2x"></i></a>
                                            </li>
                                            <li {% block nav_ul_authenticated_images_gateway %}{% endblock %}>
                                                <a class="navbar-link" data-placement="bottom" title="{{ 'nav.images_gateway' |trans }}"href="{{ path('image_annotator_dataset_gateway') }}"><i class="fa fa-image fa-2x"></i></a>
                                            </li>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <li {% block nav_ul_authenticated_admin %}{% endblock %}>
                                                    <a class="navbar-link" href="{{ path('image_annotator_admin') }}"><i class="fa fa-cogs fa-2x"></i></a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right ia-navbar-nav-top ia-navbar-right-top">
                                            <li>
                                                <a class="navbar-link" href="{{ path('image_annotator_profile_me') }}">
                                                    <i class="fa fa-user fa-lg"></i> {{ app.user.username }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="navbar-link" href="{{ path('fos_user_security_logout') }}">
                                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} <i class="fa fa-sign-out fa-lg"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    {% else %}
                                        {% render controller('ImageAnnotatorBundle:Security:login') %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="row-fluid">
                        {% block base_content %}
                        {% endblock base_content %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="navbar navbar-inverse navbar-fixed-bottom ia-navbar-bottom">
                    <div class="container-fluid">
                        <div class="text-center ia-copyright">
                            &copy; Martin Gerdzhev 2014
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock javascripts %}
    </body>
    {% block outside_body %}
    {% endblock outside_body %}
</html>
