{#
rendered by:
_Default:index.html.twig
#}

<form class="navbar-form navbar-right" style="margin-bottom: 0;" action="{{ path("fos_user_security_check") }}" method="post" role="login">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div style="display: table">
        <div style="display: table-row">
            <div class="form-group" style="display: table-cell; padding-right: 4px;">
                <input type="text" class="form-control" id="username" name="_username" value="" required="required" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}">
            </div>
            <div class="form-group" style="display: table-cell;">
                <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}">
                <button type="submit" class="btn btn-default" id="_submit" name="_submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
            </div>
        </div>
        <div style="display: table-row">
            <div class="form-group" style="display: table-cell;">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label></div>
            <div style="display: table-cell;">
                <a class="navbar-link" href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.forgot_password'|trans({}, 'ImageAnnotatorBundle') }}</a>
            </div>
        </div>
    </div>
</form>
